
.input-group .btn{
    background-color: rgb(165, 165, 237);
    color: white;
}

.input-group .btn:hover{
    background-color: rgb(35, 35, 157);
}

.list-group-item:hover{
    background-color: rgba(165, 165, 223, 0.555)
}

.card {
    border-radius: 8px;
}

.line{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid rgb(210, 204, 204);
}

.card-title h2{
    font-weight: 700;
    font-size: 2px;
}
.card-body{
    background-color: rgba(212, 220, 220, 0.104);
}

.info--card{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.info--card .p p{
    margin: 0;
    padding-bottom: 0;
    font-weight: 900;
}
.row{
    height: auto;
    margin-bottom: 80px;
}

.info--card .btn{
    width: 50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(229, 66, 1);
    border-radius: 50px;
}

.info--card .btn:hover{
    background-color: rgb(244, 101, 45);
    transition: 1s;
}


.contain--img__info .col-lg-7 .carousel{
    display: flex;
    align-items: center;
}

.contain--img__info .col-lg{
    height: auto;
}

.detail--description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

@media(max-width: 458px){
    .col-lg-7 {
      margin-bottom: 50px;
    }
}

@media(max-width: 348px){
    .col-lg-7 {
      margin-bottom: 70px;
    }
}

.price--vs--quantity{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price--vs--quantity .price{
    display: flex;
    flex-direction: column;
}

.price--vs--quantity .quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price--vs--quantity .quantity button{
    width: 40px;
    border: none;
    height: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white; 
    background-color: rgb(135, 130, 130);
} 

.price--vs--quantity .quantity input{
   width: 60px;
   height: 40px;
   text-align: center;
   border-radius: none;
}

.price--vs--quantity .quantity .decre{
    border-radius: 4px 0 0 4px;
}

.price--vs--quantity .quantity .incre{
    border-radius: 0 4px 4px 0;
}

.detail--description h2 {
    font-size: 20px;
}

.detail--description .btn{
    background-color: rgb(229, 66, 1);
}

.detail--description .btn:hover{
    transition: 1s;
    background-color: rgb(206, 9, 13);
}

.home--and__title{
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

@media(max-width: 992px){
    .home--and__title{
        width: 100%;
    }
}

.home--and__title h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.home--and__title .contain--point{
    height: 20px;
    z-index: 1;
    position: relative;
}

.home--and__title .point{
    min-height: 6px;
    min-width: 6px;
    background-color: rgb(9, 228, 64);
    position: absolute;
    top: 3px;
    border-radius: 50px;
    box-shadow: 0px 0px 7px 3px rgba(16,242,80,0.75);;
}

.home--and__title h3{
    font-size: 10px;
}

.detail--img{
    display: flex;
    align-items: center;
}


.detail--img button{
    min-width: 68px;
    width: 68px;
    height: 68px;
    padding: 7px;
    text-align: center;
    border-radius: 50%;
    border: none;
    font-size: 25px;
}


.carousel{
    width: 100%;
    height: 95%;
}

@media(max-width: 992px){
    .carousel .carousel-inner {
       height: 400px;
    }
}


.carousel .carousel-indicators{
    height: 10px;
    margin-top: 30px;
}

.carousel .carousel-indicators [data-bs-target]{
    background-color: rgb(59, 57, 57);
    width: 40px;
    height: 3px;
    border-radius: 11px;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    border-radius: 50%;
    background-color: rgb(153, 146, 143);
}

.carousel .carousel-control-next .carousel-control-next-icon {
    border-radius: 50%;
    background-color: rgb(153, 146, 143);
}


.related--product{
    margin-top: 50px;
}

.related--product h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(53, 53, 98);
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    border-radius: 50%;
    background-color: rgb(153, 146, 143);
}
/**************************************************LOGIN***********************************************/


.div--contain__login{
height: 100vh;
direction: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.div--contain__login h3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  700;
}

.div--contain__login form{
    text-align: left;
    margin: auto;
    width: 350px;
    height: 360px;
    border: black solid 1px;
    padding: 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(10, 37, 37, 0.749);
}

.div--contain__login form .form-control{
    border-radius: 8px;
    height: 40px;
    background-color: white;
}

.div--contain__login form .form-label{
    color: white;
}

.div--contain__login form .btn-primary {
    margin-top: 20px;
    background-color: rgb(9, 103, 234);
    width: 70%;
    border-radius: 8px;
}

.div--contain__login form .btn-primary:hover{
    transition: 1s;
    background-color: rgb(94, 159, 250);

}

/**********************************PURCHASES**************************************/

.info--shooping{
    height: 190px;
    margin-bottom: 30px;
    border:1px solid black;
    border-radius: 10px;
}

.info--shooping .date{
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.info--shooping .price-and__quantity{
    display: flex;
    min-width: 120px;
    justify-content: space-between;
}

.info--shooping .content-purchases{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 98%;
    margin: auto;
    font-size: 12px;
}

/***********************************CAR__SIDE__BAR**************************************/

.contend--product__delete{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(221, 219, 219);
}



.contend--product__delete .title__quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin: 0;
}

.contend--product__delete .quantity-nav{
    width: 35px;
    height: 28px;
    border: 1px solid ;
    display: flex;
    align-items: center;
}

.contend--product__delete .quantity-nav span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}


.contend--product__delete p{
    margin: 0;
    color: black
}

.contend--product__delete i{
    color: red;
}

.total__Price{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas .btn{
    background-color: rgb(229, 66, 1);
}

.offcanvas .btn:hover{
    transition: 1s;
    background-color: rgb(233, 100, 28);
}

.total__Price h5, span{
    margin: 0 15px;
}

.delete {
    display: flex;
    flex-direction: column;
    text-align: right;
}